.tabs__header {
  display: flex;
  border-bottom: 1px solid var(--color-neutral-light);
  overflow-x: auto;
  flex-wrap: nowrap;
}

.tab {
  padding: 12px 20px;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  color: var(--color-neutral-black);

  border-bottom: 2px solid transparent;
  white-space: nowrap;
}

.tab--active {
  border-bottom: 2px solid var(--color-primary-medium);
}

.tab__panes {
  margin-top: 28px;
}
