.internal-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: var(--color-neutral-lightest);
  gap: 16px;
}

.internal-trigger__title {
  margin-bottom: 4px;
}

.internal-trigger__description {
  font-size: var(--font-size-caption);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-caption);
  color: var(--color-neutral-dark);
}
