.tag {
  display: inline-block;
  padding: 4px 12px;
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  color: var(--color-neutral-black);
  font-weight: var(--font-weight-regular);
  background-color: var(--color-neutral-lightest)
}
