.link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: .3s ease-in-out;

  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  color: var(--color-primary-medium);
  font-weight: var(--font-weight-semibold);
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    color: var(--color-primary-dark);
    gap: 12px;
  }
}

.link:active {
  color: var(--color-primary-dark);
}
