.modal {
  z-index: 100000;
  background-color: var(--color-neutral-white);
  box-shadow: -10px 0 20px 20px rgba(0,0,0,0.35);

  position: fixed;
  top: -100%;
  opacity: 0;
  left: 0;

  width: 100%;
  height: 0;
  overflow-y: auto;
  transition: .35s ease all;
}

.modal--opened {
  height: 100%;
  top: 0;
  opacity: 1;
}

body:has(.modal--opened) {
  height: 100vh;
  overflow: hidden;
}


.modal__header {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  align-items: center;
  padding: 32px 20px 28px;
}

.modal__header .actions {
  flex-shrink: 0;
  display: flex;
  gap: 16px;
}

.modal__content-wrapper {
  margin: 0 20px;
}

@media (min-width: 1366px) {
  .modal {
    width: 880px;
    left: 50%;
    transform: translateX(-50%);
  }

  .modal--opened {
    height: calc(100vh - 120px);
    top: 120px;
  }

  .modal__content-wrapper {
    margin: 0 60px 60px;
  }

  .modal__header {
    padding: 60px 60px 28px;
  }
}
