.reportage__meta {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.reportage-meta__date {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  color: var(--color-neutral-dark);
  font-weight: var(--font-weight-regular);
}

.reportage-meta__category {
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  color: var(--color-primary-medium);
  font-weight: var(--font-weight-regular);
}

.tags, .share__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.tags__wrapper, .share__wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}

.related {
  margin-top: 32px;
  margin-bottom: 32px;
}

.related__posts {
  display: flex;
  gap: 24px;
  overflow-y: auto;
}

.related__posts > .news-card {
  width: 260px
}

.reportage__title, .related__title {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  color: var(--color-neutral-black);
  font-weight: var(--font-weight-bold);
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .reportage__title, .related__title {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
  }
}




.reportage__gallery {
  margin-top: 28px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}


.photo-item {
  position: relative;
  display: block;
}

.photo-item:hover::before {
  display: block;
  position: absolute;
  content: '';
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.photo-item:hover::after {
  content: '';
  background-image: url('/img/icons/enlarge.svg');
  width: 24px;
  height: 24px;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  display: block;
}


@media (min-width: 768px) {
  .reportage__gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}



@media (min-width: 768px) {
  .tags__wrapper, .share__wrapper {
    flex-direction: row;
    align-items: center;
  }

  .related__posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    overflow: hidden;
  }

  .related__posts > .news-card {
    width: auto;
  }
}
