.news-card__preview {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.news-card__preview img {
  object-fit: cover;
  height: 100%;
  min-width: 100%;
}

.news-card__keys {
  display: flex;
  align-items: center;
  gap: 12px;
}

.news-card__body {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.news-card__date {
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  color: var(--color-neutral-dark);
  font-weight: var(--font-weight-regular);
}

.news-card__category {
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
  color: var(--color-primary-medium);
  font-weight: var(--font-weight-regular);
}

.news-card__title {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  color: var(--color-neutral-black);
  font-weight: var(--font-weight-semibold);
  max-height: 72px;
  overflow: hidden;
}
